<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @*<link href="/node_modules/material-design-icons/iconfont/material-icons.css" rel="stylesheet" />*@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/content/css/layout.css" rel="stylesheet" />
    <link href="/content/css/profileitem.css" rel="stylesheet" />
    <link href="/content/css/details-and-edit-view.css" rel="stylesheet" />
</head>
<body>
    <nav class="navigation">
        <div>
            <a href="/">Översikt</a>
        </div>
        <div class="rightnav">
            @*todo: här kommer vi senare att lägga till användarnamn och utloggning*@
            <a href="/">"användare"</a>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
