<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @*<link href="/node_modules/material-design-icons/iconfont/material-icons.css" rel="stylesheet" />*@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
